.header {
  display: flex;
  flex-direction: row;
  height: 57px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  background-color: white;

  border-bottom-width:1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;

  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.ham-icon {
  margin-left: 24px;
  margin-right: 24px;
  height: 24px;
}

.youtube-icon {
  height: 20px;
}

.middle-section {
  display: flex;
  flex:1;
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
  justify-content: center;
}

.search-img {
  height: 24px;
}

.search-button {
  margin-left: -1px;
  margin-right: 12px;
  padding-top: 5px;
  height: 37.3px;
  border-width: 1px;
  border-style: solid;
  width: 58px;
  border-color: rgb(204, 204, 204);
  background-color: rgb(247, 247, 247);
  position: relative;
}

.upload-div, .apps-div, .notif-div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search-button .tooltip, .voice-button .tooltip, .upload-div .tooltip, .apps-div .tooltip, .notif-div .tooltip {
  font-family: Roboto;
  font-size: 12px;
  position: absolute;
  background-color: rgb(132, 132, 132);
  color: white;
  padding: 6px;
  border-radius: 2px;
  bottom: -38px;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip, .voice-button:hover .tooltip, .upload-div:hover .tooltip
,.apps-div:hover .tooltip, .notif-div:hover .tooltip{
  opacity: 1;
}

.voice-img {
  height: 24px;
}

.voice-button {
  display: flex;
  height: 37.3px;
  border-radius: 18px;
  border: none;
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 350px;
  height: 34px;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}

.search-bar::placeholder {
  padding-left: 10px;
  font-family: Roboto;
  font-size: 16px;
}

.right-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-img, .apps-img, .notif-img {
  height: 24px;
}

.my-img {
  margin-right: 15px;
  height: 32px;
  border-radius: 16px;
}

.notif-count {
  position: absolute;
  top:-2px;
  right:-5px;
  background-color: rgb(186, 0, 0);
  color: white;
  font-family: Roboto;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}